<section id="works" class="homepage-wrapper-last container-fluid" >
	<article class="row no-gutters justify-content-start justify-content-md-end ">
		<%# 
		  <!-- <div id="works-bg" data-img-src=""></div> -->
		%>
		<div class="col-12 col-xl-8">
			<!-- Works (from post files) -->
			<%-  partial('_partial/works-list') %>
		</div>
		<div class="swipe-area"></div>
	</article>
</section>
